.forecast-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'datetime tempHigh wind row-icon'
        'weather tempLow clouds row-icon';
    border-top: 1px solid #ccc;
    padding: 5px 10px;
}

.forecast-list-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

div.forecast-list-item:last-child {
    border-bottom: 1px solid #ccc;
}

.datetime {
    grid-area: datetime;
    font-weight: 700;
}

.weather {
    grid-area: weather;
}

.tempHigh {
    grid-area: tempHigh;
}

.tempLow {
    grid-area: tempLow;
}

.clouds {
    grid-area: clouds;
}

.wind {
    grid-area: wind;
}

.icon {
    grid-area: row-icon;
    display: flex;
    align-items: center;
}