.forecast-detail {
    width: 80%;
}

.detailed-head {
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    padding: 10px 10px;
}

.detailed-head:hover {
    cursor: pointer;
}

.detailed-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 300;
    margin: 1em 0em;
    min-height: 150px;
}

.detailed-card-label {
    display: flex;
    justify-content: center;
}

.detailed-card-value {
    font-weight: 700;
    display: flex;
    justify-content: center;
}